#reportnav{
    border:1px solid #edf2f9;
	min-height:81px;
	background:#fff;
	
}
#report_brand{
    color: #000;
    font-size: 18px;
    font-weight: bold;
	margin-top:11px;

}
#reporthead{
   margin-top:29px;

}
.reportuser{
  color:#0072C6;
  font-weight:bold;
}

.reportus{
  font-size:18px;
  font-weight:bold;
}

header{
 min-height:81px;
}